<html>
    <head>
        <title>Twitter Clone</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Twitter Clone</h1>
        <ul>
            <li><a href='/'>Home</a></li>
            {% if is_logged_in %}
            <li><a href='/create_message'>Create Message</a></li>
            <li><a href='/logout'>Logout</a></li>
            {% else %}
            <li><a href='/login'>Login</a></li>
            <li><a href='/create_user'>Create User</a></li>
            {% endif %}
        </ul>
        <hr>
        {% block content%}
        {% endblock %}
    </body>
</html>